.backDrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(38, 38, 38, 0.3);
  top: 0;
  left: 0;
  z-index: 999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  overflow: hidden;
  border-radius: 30px;
  width: 473px;
  height: 510px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn {
  position: absolute;
  top: 26px;
  right: 26px;
  border: none;
  background-color: transparent;
}

.exit {
  width: 12px;
  height: 12px;
  stroke-width: 2px;
  stroke: #262626;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatarWrapper {
  border-radius: 100px;
  padding: 10px;
  width: 150px;
  height: 150px;
  width: 150px;
  height: 150px;
}
