.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #262626;
  text-decoration: none;
}

.heart {
  fill: #f6b83d;
  padding-left: 2.3px;
  padding-right: 2.3px;
  width: 23px;
  height: 23px;
}

.link {
  text-decoration: none;
}

.homeLogo {
  color: #fff;
}

.heartHome {
  fill: #fff;
}
