.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 64px;
  padding-right: 64px;
}

.home {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-left: 32px;
  padding-right: 32px;
}
