.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.home {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;

  left: 0;
  width: 100%;
  background-color: transparent;
}
