.btn {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  padding: 15px 35px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  background: #f6b83d;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.homeBtn {
  background: #f6b83d;
}

.homeBtnRegistration {
  color: #f6b83d;
  background: #fff4df;
}

.btnRegister {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;

  border-radius: 30px;
  padding: 15px 20px;
  width: 149px;
  height: 50px;
  background: #fff4df;
  border: none;
}

.btn:hover {
  background: #f9b020;
}
