#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}
