.pencil {
  stroke-width: 1.5px;
  stroke: #f6b83d;
  fill: transparent;
}

.svg {
  width: 18px;
  height: 18px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
  width: 38px;
  height: 38px;
  background: #fff4df;
  border: none;
}

.btn:hover {
  background: #fbe7c1;
}
